apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: todo-demo-app
  version: 0.0.1
  repo: https://tosin2013.github.io/todo-demo-app-helmrepo/
  namespace: todo-demo-app
  valuesFile: values.yaml
patches:
- patch: |-
    - op: add
      path: /metadata/labels/testkey
      value: testvalue
  target:
    group: apps
    kind: Deployment
    name: todo-demo-app-deployment
    version: v1